/* body.pfcom-site.source-referral {
    background-image: none;
    font-family: 'Georgia', serif !important;
    font-size: 1.4em !important;
    line-height: 1.6em !important;
} */

/* Print Background Colors and Colorful fonts */

@media print {
   body #printfriendly { -webkit-print-color-adjust: exact;}
}
/* Aligns images to the left */

#printfriendly img{
    float:left;
    margin-top: 12px;
    margin-right: 12px;
}

/* Changes font family and size */

#printfriendly {
    font-family: Arial;
    font-size: 14px;
}

/* Changes header color */

#printfriendly h1, #printfriendly h2, #printfriendly h3, #printfriendly h4 {
    color: Green;
}

/* Hides the Page Title and Source URL */

#printfriendly #pf-src {
    display:none;
}

/* Reduce Margin in PDF */

#printfriendly .pdf-border{
padding:0!important;
}
